{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid cont-home">
        <div class="row m-t-2 cont-news">
            <div class="col-md-22 mx-auto col-xl-18 line-cn m-y-2">
                <h4>MI PERFIL</h4>
            </div>
            <div class="col-md-22 mx-auto col-xl-18 user-wrap m-t-3">
                <div class="row ">
                    <div class="col-md-8 bg-red p-5 info col-22 offset-md-0 offset-1">
                        <div class="m-md-y-5">
                            <div class="d-flex align-items-center sect user"> 
                                <span class="name-f">{{ app.user.name|first }} </span> <span class="txt-white " ><b>{{ app.user.name }}</b></span>
                            </div>
                            <p class="user-mail">
                                {{user.email}}<br>
                            </p>
                            <p class="user-info">
                                <span>
                                    Ruta: {{user.ruta}}    
                                </span>
                            </p>

                        </div>

                    </div>
                    <div class="col-md-16 form bg-white user-from-wrap col-22 offset-md-0 offset-1 m-t-2 m-md-0">
                        {{ form_start(passwordForm,{'method': 'POST', 'action': path('wip_profile_password')}) }}
                        <div class="row  b-md-b">
                            <div class="col-md-22 mx-auto p-5">
                                <span class="title">
                                    Cambiar contraseña
                                </span>
                            </div>
                        </div>
                        <div class="row m-md-t-5 ">
                            <div class="col-md-7 offset-md-1 m-md-t-0 m-t-3 ">
                                <label>
                                    Contraseña actual
                                </label>
                                {{ form_widget(passwordForm.oldPassword) }}
                                {{ form_errors(passwordForm.oldPassword) }}

                            </div>
                            <div class="col-md-7 offset-md-1 m-md-t-0 m-t-3">
                                
                                {{ form_label(passwordForm.plainPassword.first, ' Contraseña', {'label_attr': {'class': 'txt-red'}}) }}
                                {{ form_widget(passwordForm.plainPassword.first) }}
                                {{ form_errors(passwordForm.plainPassword.first) }}
                            </div>
                            <div class="col-md-7 offset-md-1 m-md-t-0 m-t-3">
                                {{ form_label(passwordForm.plainPassword.second, 'Confirma Contraseña', {'label_attr': {'class': 'txt-red'}}) }}
                                {{ form_widget(passwordForm.plainPassword.second) }}
                                {{ form_errors(passwordForm.plainPassword.second) }}
                            </div>
                            {{ form_rest(passwordForm) }}
                        </div>



                        <div class="row m-t-4">
                            <div class="col-md-12">
                                {% for type, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert-{{ type }}">{{ message }}</div>
                                    {% endfor %}
                                {% endfor %}

                            </div>
                            <div class="col-md-8 ml-auto">
                                <button type="submit" class="btn btn-danger btn-block p-4 fs-xs m-t-2">CAMBIAR CONTRASEÑA</button>
                            </div>
                        </div>


                    </div>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
