{% block program_row %}
    {% for child in form.children|filter(child => not child.rendered) %}
        <div class="form-group col-md-12">
            <div class="choice-buttons">
                {{ form_label(child) }}
                {{ form_widget(child) }}
            </div>
        </div>
        {{ form_help(child) }}
        {{ form_errors(child) }}
    {% endfor %}
{% endblock %}
