{% extends 'layout/base_auth.html.twig' %}

{% block form %}
    <div class=" ">
        <form method="post" class="">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group mb-0">
                <h1 class="h5 mb-3 font-weight-normal  w-100 ">Iniciar Sesión</h1>
            </div>
            <hr>
            <div class="form-group ">
                <label class="m-t-3 m-b-1">
                    Correo electrónico
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus >
            </div>
            <div class="form-group ">
                <label class="m-b-1">
                    Contraseña
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required >
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group ">
                <button class="btn btn-block  btn-danger btn-lg  m-y-4" type="submit">
                    INICIAR SESIÓN
                </button>
            </div>
            <div class="form-group cont-opc-r">
                <p><a href="{{ path('app_register') }}">Registro</a>&nbsp;<a href="{{ path('app_forgot_password_request') }}">¿Olvidaste tu contraseña?</a></p>
            </div>
        </form>
    </div>
{% endblock %}
