{% extends 'layout/base_auth.html.twig' %}
{% block menu %}
{% endblock %}
{% block body %}


    <div class="container-fluid h-100 thaks">
        <div class="row h-100 position-relative overflow-hidden">
            <div class="col-24 p-0 h-100">
                <img src="{{ asset('build/images/login/bg.png') }}" class="img-fluid">
                <div class="cont-thaks ">
                    <h1 class="text-center txt-white ">
                        GRACIAS POR <br>
                        REGÍSTRARTE EN NUESTRO<br>
                        PORTAL PROGRAMAS<br>
                    </h1>
                    <a href="acepto" class="btn btn-primary">
                        CONTINUAR
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock%}

