{% extends 'layout/base_auth.html.twig' %}
{% block title %}Registro{% endblock %}
{% block form %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="form-group mb-0">
        <h1 class="h5 mb-3 font-weight-normal">Registro</h1>
    </div>
    <hr>
    {{ form_start(registrationForm) }}
    <div class="form-group ">
        {{ form_errors(registrationForm.email,{'attr': {'class': ''}}) }}
        <label class="m-t-1 m-b-1">
            Correo 
        </label>
        {{ form_widget(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group ">
        {#<label class="m-t-1 m-b-1">
            Contraseña
        </label>#}
        {{ form_label(registrationForm.plainPassword.first, ' Password', {'label_attr': {'class': ''}}) }}
        {{ form_errors(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        
        {{ form_label(registrationForm.plainPassword.second, 'Confirma Password', {'label_attr': {'class': 'm-md-t-2'}}) }}
        {{ form_errors(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group ">
        {{ form_row(registrationForm.agreeTerms,{'label': 'Acepto terminos', 'attr': {'class': 'm-3'}}) }}
    </div>
    <div class="form-group ">
        <button type="submit" class="btn btn-block  btn-danger btn-lg">Registrar</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
