{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid m-t-2">
        <div class="row">
            <div class="col-24">
            </div>
            <div class="col-24 card-filters">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="m-t-3 alert-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
                <div class="filter-body">
                    {% include 'manager/_content_list.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
