{% extends 'layout/base_auth.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block form %}
    <div class="col-md-20 mx-auto text-center">

        <h1 class="py-5">Se ha enviado un correo electrónico para restablecer su contraseña. {#Este enlace caducará en: {{ tokenLifetime|date('g') }} hour(s).#}</h1>
        <a href="{{ path('homepage') }}" class=" btn btn-block  btn-danger  mt-3">
            Continuar
        </a>
        {#<p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.
        </p>#}
    </div>
{% endblock %}
