
<div style="width: 600px;margin: auto; font-family: Helvetica, Arial, sans-serif;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr style="text-align: center;">
            <td style="text-align: center;">
                <img src="{{ absolute_url(asset('build/images/template/pleca.png')) }}" alt="Title" style="max-width: 100%;" />
            </td>
        </tr>
        <tr style="text-align: center;">
            <td style="padding-top: 1rem; padding-bottom: 1rem;font-weight: lighter;padding-bottom: 5rem;">
                <p style="color: #ed1c24;font-size: 1.6rem;margin-top: 2rem;font-weight: 400;"> 
                    ¡Hola! {{nombre}}
                </p>
                <p style="font-size: 1.3rem;font-weight: 400;max-width: 70%;margin: auto;" >
                    Para restablecer su contraseña, visite el siguiente enlace:
                </p>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: center;">
                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" style="color: red;"><font>Restablecer contraseña</font></a>
            </td>
        </tr>
    </table>
</div>



