{% extends 'layout/base_auth.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block form %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}

    <div class="form-group mb-0">
        <h1 class="h5 mb-3 font-weight-normal  w-100 ">Recupera contraseña</h1>
    </div>

    <div class="form-group ">
        <label class="m-t-3 m-b-1">
            Correo electrónico
        </label>
        {{ form_widget(requestForm.email,{'attr':{"placeholder":"","class":"form-control"}}) }}
        {{ form_errors(requestForm.email) }}
    </div>

    <div class="form-group ">
        <button class="btn btn-block  btn-danger btn-lg  m-y-4" type="submit">
            ENVIAR
        </button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
