{% extends 'layout/base_auth.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block form %}


    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="form-group mb-0">
        <h1 class="h5 mb-3 font-weight-normal  w-100 ">Recuperar Contraseña</h1>
    </div>
    <hr>
    {{ form_start(resetForm) }}
    <div class="form-group ">
        <label class="m-t-3 m-b-1">
             Contraseña
        </label>
        {{ form_widget(resetForm.plainPassword.first,{'attr':{"placeholder":"","class":"form-control"}}) }}
        {{ form_errors(resetForm.plainPassword.first) }}
    </div>
  <div class="form-group ">
        <label class="m-t-3 m-b-1">
            Confirma Contraseña
        </label>
        {{ form_widget(resetForm.plainPassword.second,{'attr':{"placeholder":"","class":"form-control"}}) }}
        {{ form_errors(resetForm.plainPassword.second) }}
    </div>

    {#{{ form_row(resetForm.plainPassword) }}#}
        <div class="form-group ">
        <button class="btn btn-block  btn-danger btn-lg  m-y-4" type="submit">
            ACEPTAR
        </button>
    </div>
    {{ form_end(resetForm) }}




{% endblock %}
