{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}
{% block content %}

    {#{{ form_start(form) }}#}
    {{ form_start(form,{'class':'w-100'}) }}
    <section class="generate-coupons">
        <table class="w-100">
            <thead>
                <tr>
                    <th>
                        <h2 class="">Crear cupones</h2>        
                    </th>
                    <th class="d-flex justify-content-end">
                        <button type="submit" class="btm btn-primary">Crear cupones</button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="bg-white w-100 d-flex m-t-3">
            <div class="container-file">
                <label>
                    Subir archivo
                </label>
                {{ form_widget(form.xlsFile,{'attr': { 'class': 'form-control '}}) }}
            </div>
            <div class="container-select selec">
                <label>
                    Marca
                </label>
                {{ form_widget(form.brand,{'attr': { 'class': 'form-control select2-selection select2-selection--single'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

    </section>




{% endblock %}
