{# empty Twig template #}
{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}
{% block content %}
    <section class="campaign-coupons">


        <h2 class=""><b>Cupones creados</b></h2>        

        <div class="bg-white w-100  m-t-3">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Folio</th>
                        <th>Creado</th>
                    </tr>
                </thead>
                <tbody>

                    {% for coupon in coupons %}
                        <tr>
                            <th class="name">
                                {{coupon.campaign}}
                            </th>
                            <th class="code">
                                {{coupon.code}}
                            </th>
                            <th class="date">
                                {{ coupon.created |date('d-m-Y') }}
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>



{% endblock %}
