{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
    <h1>{{ entity.file }}</h1>
    {% if isReady %}
        <p><a href="{{ path('coupon_zip',{id: entity.id}) }}">Descar folios</a></p>
    {% else %}
        <p>Procesando...</p>
        {{ files }} /  {{ entity.codes|length }} Cupones
        <script type="text/javascript">
            setInterval(function () {
                window.location.reload();
            }, 5000);
        </script>
    {% endif %}
{% endblock %}
