<div class="container-fluid">
    <div class="row m-t-2 cont-news">
        {#
        <div class="col-md-22 mx-auto col-xl-18 line-cn m-y-2">
            <h4>ÚLTIMAS NOTICIAS</h4>
        </div>
        <div class="col-md-22 mx-auto col-xl-18">


            <div class="slider-container row align-items-center">
                <div class="container-fluid">
                    <div class=" js-slick" data-slick='{"autoplay":true,"autoplaySpeed":3500000,"fade":false,"arrows":false, "dots":true}'>
                        <div class="slide d-flex d-md-flex d-grid">
                            <div class=" col-md-10 pl-0 pr-3 cont-news order-1 order-md-0">
                                <div class="bg-red h-100 container-data  d-flex align-items-center justify-content-center m-t-1 m-md-t-0">
                                    <div class="cont-txt p-1 p-md-4">
                                        <h2>¡BIENVENIDOS</h2>
                                        <p>Te damos la bienvenida a la nueva intranet Portal Programas Silanes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-img col-md-14 order-0 order-md-1">
                                <img src="{{ asset('build/images/home/new.png') }}" class="img-fluid" alt="homepage">
                            </div>
                        </div>
                        {% for data in slider %}
                            <div class="slide d-flex d-md-flex d-grid">
                                <div class=" col-md-10 pl-0 pr-3 cont-news order-1 order-md-0">
                                    <div class="bg-red h-100 container-data  d-flex align-items-center justify-content-center m-t-1 m-md-t-0">
                                        <div class="cont-txt p-4">
                                            <h2>{{data.title}}</h2>
                                            <p>
                                                {{data.resume}}
                                            </p>
                                            <a href="{{ path('post_view',{id: data.id}) }}" class="">
                                                Leer más <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-img col-md-14 order-0 order-md-1">
                                    <img src="{{ vich_uploader_asset(data, 'bannerFile') }}" class='img-fluid '/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        #}
        <div class="col-md-18 offset-md-3 px-md-2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ asset('build/images/home/slide1.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ asset('build/images/home/slide2.png') }}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
    </div>
    <div class="row m-t-4 cont-acct">
        <div class="col-md-20 mx-auto col-xl-18 line-cn m-y-2">
            <h4>MI DASHBOARD</h4>
        </div>
    </div>
</div>
