
{% set cycle_data = shortcutsData['cycle_data'] %}
<div class="container-fluid">
    <div class="row cont-acct">
        <div class="col-xl-18 col-md-22 mx-auto">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-23 bg-red mx-auto card-acct">
                            <a href="  {{ cycle_data.cycle.name is defined ? path('requisition_new'):'#' }}" class="">
                                <h5 class="card-title">
                                    <img src="{{ asset('build/images/home/nueva.png') }}" class="icon-acct" alt="homepage">  
                                    <span class="txt-white">Nueva Solicitud</span>
                                </h5>
                            </a>
                        </div>
                        <div class="col-23 mx-auto card-acct bg-white position-relative">
                            <a href="  {{ cycle_data.cycle.name is defined ? path('requisition_history'):'#' }}" class="">
                                <h5 class="card-title ">
                                    <img src="{{ asset('build/images/home/historico.png') }}" class="icon-acct " alt="homepage">  
                                    Historico</h5>
                                <div class="position-absolute total">
                                    {#<p>{{ shortcutsData['history_total'] }}</p>#}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-23 mx-auto card-acct bg-white">
                            <a href=" {{ cycle_data.cycle.name is defined ? path('requisition_renew'):'#' }}    " class="">
                                <h5 class="card-title">
                                    <img src="{{ asset('build/images/home/renovar.png') }}" class="icon-acct" alt="homepage">  
                                    Renovar/ <br> Continuar</h5>
                                <div class="position-absolute total">
                                    <p>{{ shortcutsData['renew_total'] }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-23 mx-auto card-acct bg-white">
                            <a href="{{ cycle_data.cycle.name is defined ? path('requisition_medicine'):'#' }}" class="">
                                <h5 class="card-title">
                                    <img src="{{ asset('build/images/home/medicamneto.png') }}" class="icon-acct" alt="homepage">  
                                    Medicamentos por recibir(cajas)</h5>
                                <div class="position-absolute total">
                                    <p>{{ shortcutsData['medicines_total'] }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-23 mx-auto bg-white card-acct">
                            <a href=" {{ cycle_data.cycle.name is defined ? path('requisition_index'):'#' }}" class="">
                                <h5 class="card-title">
                                    <img src="{{ asset('build/images/home/solicitudes.png') }}" class="icon-acct" alt="homepage">  
                                    Solicitudes<br> Activas</h5>
                                <div class="position-absolute total">
                                    <p>{{ shortcutsData['active_total'] }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-23 mx-auto card-acct bg-grayd">
                            <a href="#" class="">
                                <h5 class="card-title">
                                    <img src="{{ asset('build/images/home/noticias.png') }}" class="icon-acct" alt="homepage">  
                                    Sección de noticias</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row h-100">
                        <div class="col-23 mx-auto bg-red card-acct d-flex align-items-center  p-5">
                            <div class="txt-white w-100">


                                <h5>
                                    CICLO:<br>
                                    <b>
                                        {{ cycle_data.cycle.name is defined ? cycle_data.cycle.name:'Sin ciclo activo' }}



                                </h5>
                                <div class="progress m-t-4 m-b-2">
                                    <div class="progress-bar" role="progressbar" style="width:{{ cycle_data.percent is defined ? cycle_data.percent|round:'100' }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-text"> {{ cycle_data.cycle.startDate is defined ? cycle_data.cycle.startDate|date('d/m/Y') :' ' }}    </p>
                                    </div>
                                    <div class="col-12 text-right">
                                        <p class="card-text"> {{ cycle_data.cycle.endDate is defined ? cycle_data.cycle.endDate|date('d/m/Y') :' ' }}  </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
