{% extends 'base.html.twig' %}
{% block menu %}
{% endblock %}
{% block body %}
    <div class="cont-home">
        {% include 'default/_posts_banner.html.twig' %}
        {% include 'default/_shortcuts.html.twig' %}
    </div>
{% endblock %}