{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Portal Programas' %}

    {% block page_content %}
        <h1>
            Bienvenido
        </h1>
        
    {% endblock %}
