.custom-easy{
    .content-wrapper {
        grid-template-columns: 1vw auto 1vw !important;
    }
    .easy-menu-container{
        margin-left: 5vw;
        .menu-header{
            border-bottom: 1px solid #d7d7d7;
            background-color: #f2f2f2;
            .title{
                font-size: 2.5rem;
                color: red;
                i{
                    font-size: 4rem;
                    margin-left: 3rem;
                }
            }
        }
        .menu-body{

            background-color: #fff;
            width: auto;
            display: flex;

            justify-content: center;
            .sidebar-menu a {
                color: #d7d7d7;
                padding: .5rem 0 ;
            }
            .sidebar-menu li:not(.submenu-active).active .menu-icon, .sidebar-menu li:not(.submenu-active).active a {
                color: #ed1c24;
            }

        }

        .sidebar-menu{
            padding: 0;
            margin: 2rem 0;

            .active{
                border-left: 3px solid #ed1c24;
                border-radius: 0;
                background-color: #c2d6f733;
            }
        }

        li{
            a{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                span{
                    margin-right: 3rem;
                    margin-left: 2rem;
                }
                i{
                    margin-left: 3rem;
                }
            }
        }


    }
    .campaign-coupons{
        thead{
            background-color:#e7f9f9 ;
            font-size: 1.5rem;

            color: #000;
            th{
                padding: 2rem 6rem;
            }
        }
        tbody{
            font-size: 1.3rem;
            tr{
                border-bottom: 1px solid #e8e8e8;
                th{
                    padding: 3rem 6rem;
                }
                .name{
                    color: #ed1c24;
                }
            }

        }
    }
    td,
    .datagrid td.actions a:not(.dropdown-item),
        .form-group label,
        .col-form-label{
        font-size: 1.5rem;
    }
    .btn-primary{
        background-color: #ed1c24;
        font-size: 2rem;
        background-color: #ed1c24;
        border: none;
        padding: 0.4rem 3rem;
        border-radius: 4.2px;
        font-size: 1.6rem;
    }
    .container-data{
        width: auto;
        max-width: 60vw;
        margin-left: 4vw;
    }
    .generate-coupons{
        .container-file{
            width: 35%;
            margin: 5rem 0 5rem 3rem;
        }
        .container-select{
            width: 50%;
            margin: 5rem 3rem 5rem 0;
        }

    }
    .form-widget input.form-control, 
    .form-widget select.form-control, 
    .form-widget textarea.form-control{
        font-size: 2rem;    
    }


    .file-input__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .file-input__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        padding: 10px 12px;
        background-color: #4245a8;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }

    .file-input__label svg {
        height: 16px;
        margin-right: 4px;
    }


}
