//BOOTSTRAP OVERRIDES
$grid-columns: 24;
// FONTS
$min_width: 320px;
$max_width: 1960px;
$min_font: 1.5px;
$max_font: 8px;

$grid-columns: 24;


$fontregular: 'Montserrat';
$fontspecial: 'Montserrat';
$fontheavy: 'Montserrat';
$fontbold: 'Montserrat';

//COLORS
$black: #000000;
$white: #ffffff;
$gray: #edf1f5;
$gray_2: #ddd9d9;
$red: #ed1c24;
$green: #00c292;
$pink: #ec2790;
$blue: #03a9f3;

$cyan: #01c0c8;
$yellow: #fec107;
$purple: #ab8ce4;

$zetter-theme-colors: (
        "stable": $gray,
        "black": $black,
        "grayd": $gray_2,
        "positive": $blue,
        "calm": $cyan,
        "balanced": $green,
        "energized": $yellow,
        "assertive": $red,
        "royal": $purple,
        "harmony": $pink,
        "white": $white,
        "red": $red,
        "yellow": $yellow
);

//FONTS
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-serif: $fontspecial;
$font-family-base: $fontregular, $font-family-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.1671;

$font-weight-thin: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$headings-font-weight: $font-weight-normal;
$headings-line-height: $line-height-base;

$h1-font-size: $font-size-base * 4.2;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.6;
$h4-font-size: $font-size-base * 2.4;
$h5-font-size: $font-size-base * 2.2;
$h6-font-size: $font-size-base * 1.6;
$input-font-size: $font-size-base * 1.4;

$small-font-size: 85.7142857%;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
