@import "variables";
/*@import '../fonts/stylesheet.css';*/
@import '../css/zetter.scss';
@import '~font-awesome';
@import '~bootstrap';
@import "sizes";
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme.scss';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import "easyadmin";

html, body {
    font-size: $max_font;
    height: 100%;
}

body {
    background-color: $gray;
}

label, p {
    font-size: 1.4rem;
}
.alert-success, .alert-danger{
    font-size: 2rem;
}
.alert-warning{
    font-size: 2.2rem;
    padding: 1rem;
}

.card {
    margin-bottom: .7rem;
}

.btn {
    font-size: 1.4rem;

    &-xs {
        font-size: 1rem;
    }

    &-rounded {
        border-radius: 6rem;
    }
}
.btn-coupon{
    background: #fff;
    border: 1px solid #CACACA;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.btn-coupon.active{
    color: #fff;
    background-color: #ed1c24;
    border-color: #ed1c24;
}
.btn-xml-manager{
    background: #ed1c24;
    border: none;
    border-radius: 0;
    padding: 1rem 2rem;
}

.remove-tag{
    align-items: end;
    display: flex;
    font-size: 2rem;
    .btn{
        background-color: $red;
        color: $white;
        i{
            font-size: 2.5rem;
        }
    }
}

.form-wrap {
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    .cont-opc-r{
        a{
            font-size:  1.7rem;
            margin-right: 1.5rem;
            color: $red;
        }
    }
    h1{
        font-size: 2.3rem
    }
    label{
        font-size: 1.7rem;
    }

    .btn-danger {
        display: block;
        margin: 4rem auto;
        padding: 2.2rem 1.7rem;
        border-radius: 0;
        font-size: 1.8rem;
    }

    .form-control{
        border: none;
        border-bottom: 1px solid $gray;
    }
    .form-group{
        margin: 2rem 5rem;
    }
    ul{
        padding: 0;
        li{
            color: $red;
            list-style: none;
            font-size: 1.5rem;
        }
    }
}

.topbar {
    background: $red;
    h3{
        font-size: 2rem;
    }
    .img-logo{
        max-height: 5.5rem;
    }

    .logo-text {
        line-height: 4.5rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: $white;
        padding: 0 1rem;
    }

    .navbar-nav {
        .nav-link {
            color: $white;
            font-size: 1.4rem;
        }
    }
    .sect-mb-a{
        @media screen and (max-width: 950px) {
            text-aling: center;
        }
    }
    .sect{
        img{
            @media screen and (max-width: 950px) {
                width: 2rem;
            }
        }
        @media screen and (max-width: 950px) {
            margin-left: 3.5rem;
        }
        margin-left: 2.5rem;
        a{
            span{
                color: $white;
                font-size: 1.4rem;
                @media screen and (max-width: 950px) {
                    font-size: 1.2rem;
                    margin: auto;
                }
            }
        }
    }
    .name-f{
        font-size: 3rem;
        background-color: #fff;
        height: 5rem;
        width: 5rem;
        text-align: center;
        border-radius: 50%;
        display: flex;
        margin: auto;
        align-items: center;
        text-align-last: center;
        justify-content: center;
        font-weight: 600;
        color: $red;
    }
    .user{
        padding-left: 2rem;
        border-left: 1px solid $white;
        @media screen and (max-width: 950px) {
            padding-left: 0rem;
            border-left: none;
        }
    }
    span{
        font-size: 1.5rem;
        margin-left: 1rem
    }
}

.cont-home{
    .line-cn:after{
        content: "";
        position: absolute;
        top: 50%;
        border-top: 1px solid #cdd0d2;
        width: 50%;
        right: 0;
        @include media(md){
            width: 79%;
        }

    }
    h4{
        font-size: 2.5;
        font-weight: 600;
    }



    .cont-news{
        .slick-wrapper {
            width: 100%;
            height: 100%;
        }
        .slick-dotted.slick-slider{
            height: 100%;
        }
        .container-data,
        .container-img img{
            border-radius: 2rem;
        }

        .cont-txt{
            margin-left: 4rem;
            color: $white;
            @media screen and (max-width: 950px) {
                padding: 2rem;
            }
        }
        h2{
            font-size: 3.5rem;
            font-weight: 600;
            margin-top: 2rem;
            text-transform: uppercase;
            @media screen and (max-width: 950px) {
                font-size: 2.5rem;
            }
        }
        p{
            font-size: 2.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            line-height: 4.5rem;
            @media screen and (max-width: 950px) {
                font-size: 1.8rem;
                line-height: 3rem;
            }
        }
        a{
            color: $yellow;
            font-size: 2rem;
            font-weight: 600;
        }

        .slider-new{
            width: 100%;
            border-radius: 1rem;
            flex: 0 0 90%;
            margin:0 auto;
            @include media(md){
                flex: 0 0 40%;
                width: 40%;
                max-width: 40%;
            }
        }
        .img-new{
            flex: 0 0 90%;
            width: 100%;
            margin:0 auto;
            @include media(md){
                flex: 0 0 58%;
                width: 58%;
                margin-left: 2%;

            }
            @media screen and (max-width: 950px) {
                margin-top:2rem;
            }
        }
        .slick-dots {
            bottom: 5rem;
            left: 4rem;
            text-align: left;
            width: 100%;
            @media screen and (max-width: 950px) {
                bottom: 1rem;
                left: 2rem;
            }
        }
        .slick-dots li button::before {
            font-size: 1.7rem;
        }
        .slick-dots li.slick-active button::before {
            color: $yellow;
        }
        .slick-dots li button::before {
            color: $white;
        }
        .list-new{
            padding-left: 0;
            .card-new{
                flex: 0 0 19%;
                max-width: 19%;
                background-color: #fff;
                border-radius: 2rem;
                margin: 1% .5%;

                @media screen and (max-width: 950px) {
                    flex: 0 0 47%;
                    max-width: 47%;
                    background-color: #fff;
                    border-radius: 2rem;
                    margin: 1% .5%;
                }


                .cont-img{
                    img{
                        border-radius: 1rem 1rem 0 0;
                    }
                }
                .cont-txt{
                    color:#000;

                    p{
                        margin: 1rem;
                        font-size: 2rem;
                    }

                }
            }
        }



    }
    .cont-acct{
        .icon-acct{
            height: 3rem;
            width: auto;
            margin: 2rem;

        }
        .card-title{
            display: flex;
            align-items: center;
            font-size: 2.1rem;
            font-weight: 600;
            color: $black;
            max-width: 85%;
            @media screen and (max-width: 950px) {
                font-size: 1.8rem;
            }

        }
        .card-title-temp{
            color: #6666 !important;

        }
        .card-acct{
            border-radius: 1rem;
            margin-bottom: 2rem;
            padding: 2.1rem;
            @media screen and (max-width: 950px) {
                padding: .5rem;
            }

            a{
                margin: 2rem;
            }
            .total{
                top: 0;
                right: 0;
                height: 100%;
                width: 15%;
                border-left: 1px solid $gray;
                display: flex;
                align-items: center;
                text-align: center;
                margin: auto;
                text-align: center;
                p{
                    font-size: 2rem;
                    font-weight: 900;
                    color: $red;
                    margin: auto
                }
            }
            .progress-bar{
                background-color: $yellow
            }
        }
    }
}
/*.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 0px 0px;
    grid-template-areas:
        "header-area"
        "body-area"
        "footer-area";

    .header-area {
        grid-area: header-area;
    }

    .body-area {
        grid-area: body-area;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .footer-area {
        grid-area: footer-area;
    }
}*/



.auth-wrap {
    width: 400px;
    height: 100%;
    background-color: $white;
    padding: 1.5rem;
}
.page-titles{
    .silanes-menuitem{
        .card{
            background-color: $white;
            border-radius: 1rem;
            padding:1.9rem;
            @media screen and (max-width: 950px) {
                padding:1.3rem;
            }

            svg{
                height: 3rem;
                margin: 1.5rem;

                @media screen and (max-width: 950px) {
                    margin: 0.5rem;
                }
                path{
                    fill: red;
                }
            }
            .title{
                font-size: 1.9rem;
                color: $black
            }
            .temporal{
                color: #666666 !important;
                font-size: 1.9rem;
            }
            .temporal-svg{
                fill: #666666 !important;

            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .active{
            background-color: $red !important;
            .title{
                color: $white !important;
            }
            svg{
                path{
                    fill: $white;
                }
            }
        }

    }
}

.new-acct{
    .card-body{

        padding:5.15rem;
        label{
            font-size: 1.7rem;
        }
        .add-item{
            position: absolute;
            right: 1rem;
            top: 0rem;
        }
        .add_tag_link{
            font-size: 1.7rem;
            padding: 1.5rem 7rem;
            border-radius: .9rem;
            position: absolute;
            right: 20%;
            @include media(md){
                right: 0;
                top: -6.5rem;
            }
            /*            @media screen and (max-width: 950px) {

                            top: 1rem;
                        }*/
        }
        .br-b-1{
            border-bottom: 1px solid #ced4da;
        }
        .btn-out{
            padding: .9rem 9.4rem;
            font-size: 2.4rem;
            margin-bottom: 1rem;
            border-radius: .3rem

        }
        .custom-select{
            border-bottom: 1px solid #ced4da;
            background-color: $white;
        }
        .label-out{
            color: #555555
        }
    }
    .initials{
        max-width: 24%;
        text-align: center;
        border: none;
        border-bottom: 1px solid #ced4da;
        background-color: $white;
    }
}
.total-medi{
    position: absolute;
    right: 7rem;

}
.card-filters{
    h5{
        font-size: 1.9rem;
    }
    .br-b{
        border-bottom: 1px solid #e3e3e3;
    }
    .custom-select{
        background-color: #f9f9f9;
        padding: .5rem;
        height: 4rem;
        color: #999

    }
    .t-header{
        color: #00c292;
        font-size: 1.5rem;
    }
    .t-medic{
        color: $red;
        font-size: 1.7rem;
    }
    .card, .card-header{
        border: none;
        .total-g{
            font-size: 2rem;
        }
    }
    .filter-form{
        margin-bottom: 4rem;
    }
    .card-header{
        h4{
            color: #000;
            font-size: 1.6rem;
            font-weight: 600;
            .total-m{
                position: absolute;
                right: 10rem;
            }

        }
        .total-s{
            color: $black
        }
    }

    .t-content{
        font-size: 1.4rem;
    }

}
.custom-select{
    border: none;
    background-image: url("../images/template/fleacha.png");
    /*    background: url(https://stackoverflow.com/favicon.ico) 96% / 10% no-repeat #eee;*/
    background-color: $white;
    font-size: 1.6rem

}
.choice-buttons label, .choice-coupon label{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CACACA;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 0 !important;
    text-align: center;
    height: 100%;
    font-size: 1.6rem !important;
}
.choice-buttons label.active, .dynamic-button.active, .choice-coupon label.active{
    border-color: #ed1c24;
    background: #ed1c24;
    box-shadow: 0px 4px 10px rgba(141, 141, 141, 0.24);
    color: $white;
    font-weight: 600;
}
.choice-buttons input, .choice-coupon input{
    display: none;
}
.choice-buttons, .choice-coupon{
    height: 100%
}
.accordion{
    margin-left: -15px;
    margin-right: -15px;
}
.thaks{
    text-align: center;
    h1{
        font-size: 4rem;
        font-weight: 600;

    }
    .btn{
        color:$red;
        background-color: $white;
        padding: 1.5rem 5rem;
        font-size: 1.5rem;
        border: none;
        margin-top: 3rem;
        border-radius: .5rem;

    }

    .cont-thaks{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;

    }

}
.user-wrap{
    .name-f{
        font-size: 3rem;
        background-color: #fff;
        padding: 1.5rem;
        text-align: center;
        border-radius: 50%;
        display: flex;
        margin-right: 2rem;
        align-items: center;
        text-align-last: center;
        justify-content: center;
        font-weight: 600;
        color: $red;
        height: 5.5rem;
        width: 5.5rem;
    }
    .info{
        padding: 5rem;
        border-radius: 2rem;
    }
    .user{
        padding-left: 2rem;
        font-size: 3rem;
        @media screen and (max-width: 950px) {
            font-size: 2rem;
        }
    }
    .user-mail{
        font-size: 2.2rem;
        color: $white;
        margin-top: 1.8rem;
        font-weight: 600;

    }
    .user-info{
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: 600;
        color: $white;
        span{
            color: yellow;
            margin-top: 2rem;
        }
    }
    .user-from-wrap{
        border-radius: 1rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
        .b-md-b{
            border-color: #999;
        }
        .title{
            font-size: 2rem;
            color: #999
        }
        input{
            border: none;
            border-bottom: 1px solid #999;
            font-size: 1.5rem;
            width: 90%;
        }
        label{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .btn-danger{
            font-weight: 600;
            border-radius: .5rem;
        }


    }
}
.details-wrap{
    h1{
        font-size: 2.2rem;
        color: #fff;
        padding: 1.5rem 3rem;
    }
    h4{
        font-size:  1.5rem;
        margin-top: 3rem;
        font-weight: 600;
        @media screen and (max-width: 950px) {
            font-size:  1.2rem;
        }
        span{
            color: $red;
        }
    }
    .f-close{
        font-size: 4rem;
        color: $white;
        top: 2%;
        right: 4%;
    }

}
.ter-wrap{
    p{
        font-size: 2rem;
        margin-top: 2rem;
    }
}
.message{
    border-radius: 1rem;
    padding: 13rem 7rem;
    h3{
        font-size: 3.1rem;
        color: #7d7d7d;
    }
    .btn-danger{
        font-size: 2rem;
        font-weight: 600;
    }

}
.accordion {
    .card{
        padding: 1.5rem;
    }
    .card-header{

    }
}
.fancybox-slide--iframe .fancybox-content {
    max-width  : 35%;
    max-height : 30%;
    margin: 0;
    @media screen and (max-width: 950px) {
        max-width  : 100%;
        max-height : 50%;
    }
}
.nav-item {
    display: flex;
    align-items: center;
    @media screen and (max-width: 950px) {
        margin-top:2rem;
        margin-bottom:2rem;
    }
}
.navbar-toggler-icon{
    i{
        font-size: 3.5rem;
        color: $white;
    }

}
@media screen and (max-width: 950px) {
    .collapse{
        overflow-y: hidden;
        overflow-x: scroll;
        .cont-mb {
            width:1100px;
        }
    }
    .d-grid{
        display: grid !important;
    }
}
.collapse{
    .img-acction{
        //max-width: 5rem;
    }

}
.fancybox-iframe{
    border-radius: 1rem;
}

.modal-content{
    border: none;
    border-radius: 10px;
}
.modal-header{
    padding: 2rem;
    border: none;
    .close{
        svg{
            width: 25px;
        }
    }
}
.modal-body{
    border-radius: 1rem;
    padding: 8rem 7rem 13rem 7rem;
}
.modal-footer{
    padding: 1.5rem 2rem;
    border: none;
}
.title-mobile{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
    padding-left: 1.5rem;
    @include media(md){
        display: none;
    }
}

.filter-medicine{
    .select-medicine{
        height: 100%;

    }
    .btn-danger{
        color: #fff;
        font-size: 1.6rem;
        padding: 1.5rem;
        border-radius: 1rem;
        background-color: #ed1c24;
        border: none;

    }
}
.post-view{
    .btn-danger{
        font-size: 2rem;
        padding: 1.6rem 7rem;
        border-radius: 1rem;

    }
    .title{
        font-size: 8.3rem;
        font-weight: 700;
    }
    .cont-ckeditor{
        h2{
            font-size: 5rem;
            font-weight: 500;
        }
        p{
            font-size: 2rem;
        }
    }
}