{% if renew_available %}
    <a href="{{ path('requisition_to_renew',{'id': requisition.id}) }}"><img src="{{ asset('build/images/template/renovar.png') }}" class="img-fluid img-acction" alt="Renovar"></a>
    <button type="button" class="btn modal-btn" data-toggle="modal" data-target="#exampleModal" data-action="{{ path('requisition_suspend',{'id': requisition.id}) }}">
      <img src="{{ asset('build/images/template/suspender.png') }}" class="img-fluid img-acction" alt="Suspender">
    </button>
{% else %}
    {% if workflow_can(requisition, 'to_renewed') %}
        <a href="{{ path('requisition_to_renew',{'id': requisition.id}) }}">
          <img src="{{ asset('build/images/template/renovar.png') }}" class="img-fluid img-acction" alt="Renovar">
        </a>
    {% endif %}
    {#{% if workflow_can(requisition, 'to_activate') %}
        <a href="{{ path('requisition_to_active',{'id': requisition.id}) }}">Activar</a>
    {% endif %}#}
    <a data-fancybox data-type="iframe" data-src="{{ path('detalles',{'id': requisition.id}) }}" href="javascript:;"  class="fancybox" data-fancybox-type="ajax"  >
        <img src="{{ asset('build/images/template/detalles.png') }}" class="img-fluid img-acction" alt="detalles">
    </a>
{% endif %}
