<div class="row ">
    <div class="col-md-20 mx-auto  bg-white">
        <div class="row br-b p-3">
{#            <div class="col-md-24 d-flex justify-content-between align-items-center">#}
{#                <h5 class="txt-red m-t-2">#}
{#                    ¿Buscas información específica?#}
{#                </h5>#}
{#                <h5 class="txt-red m-t-2">#}
{#                    <b>{{ shortcutsData.name is defined ? "Ciclo " ~ shortcutsData.name:'Sin ciclo activo' }}</b>#}
{#                </h5>#}
{#            </div>#}
        </div>
        {{ form_start(form,{'attr': {'class': 'filter-form'} }) }}
        {{ form_widget(form._token) }}
        <div class="row cont-filters p-3 m-t-3">
            {% if form.medico %}
                <div class='  m-md-t-0 m-t-2  {{ app.request.attributes.get('_route') == 'requisition_history' ? 'col-md-4':'col-md-8' }}  '>
                    {{ form_errors(form.medico) }}
                    {{ form_widget(form.medico,{'attr': { 'class': 'form-control custom-select','placeholder' : 'Choose an option'}}) }}
                </div>
            {% endif %}

            {% if form.programa is defined %}
                <div class='  m-md-t-0 m-t-2 {{ app.request.attributes.get('_route') == 'requisition_history' ? 'col-md-4':'col-md-8' }}  '>
                    {{ form_errors(form.programa) }}
                    {{ form_widget(form.programa,{'attr': { 'class': 'form-control custom-select','placeholder' : 'Choose an option'}}) }}
                </div>
            {% endif %}

            {% if form.beneficiario is defined %}
                <div class='  m-md-t-0 m-t-2 {{ app.request.attributes.get('_route') == 'requisition_history' ? 'col-md-4':'col-md-8' }}  '>
                    {{ form_errors(form.beneficiario) }}
                    {{ form_widget(form.beneficiario,{'attr': { 'class': 'form-control custom-select','placeholder': 'Choose an option'}}) }}
                </div>
            {% endif %}

            {% if form.ciclos is defined %}
                <div class=' m-md-t-0 m-t-2  {{not is_granted('ROLE_MANAGER') ? '':''}}  {{ app.request.attributes.get('_route') == 'requisition_history' ? 'col-md-4':'col-md-8' }}  '>
                    {{ form_errors(form.ciclos) }}
                    {{ form_widget(form.ciclos,{'attr': { 'class': 'form-control custom-select','placeholder': 'Choose an option'}}) }}
                </div>
            {% endif %}


            {% if form.status is defined %}
                <div class=' m-md-t-0 m-t-2 {{ app.request.attributes.get('_route') == 'requisition_history' ? 'col-md-4':'col-md-8' }}  '>
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status,{'attr': { 'class': 'form-control custom-select','placeholder': 'Choose an option'}}) }}
                </div>
            {% endif %}

            {% if is_granted('ROLE_MANAGER') %}
                <div class=' m-md-t-0 m-t-2 col-md-8 ml-auto text-right'>
                    <a class="navbar-brand btn-primary btn-xml-manager" href="{{ path('export-f') }}">
                        DESCARGAR CICLO
                    </a>
                </div>
            {%endif%}

        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
