{% set isHistory = app.request.get('_route') == "requisition_history" ? true:false %}
{% set nav = {
    renewed: "Renovado",
    to_renovate:"Por renovar",
    suspended:"Suspendida",
    active:"Activo",
    canceled:"Canceleda",
}
%}

<div class="row m-t-2">
    <div class="col-md-20 mx-auto cont-filters bg-white">
        <div class="row br-b p-3">
            <div class="col-24">
                <h5 class="txt-red m-t-2">
                    Todos los resultados
                    <span class="total-medi txt-red"> Total</span>
                </h5>
            </div>
        </div>
        <div class="row p-3 m-t-1">

        </div>


        <div class="accordion " id="exampleAccordion">
            <div class="card w-100">
                {% for entity in entities %}
                    <div class="card-header m-t-1 w-100" id="exItem1Header">
                        <button class="btn btn-link collapsed w-100 text-left" type="button" data-toggle="collapse" data-target="#a-{{loop.index}}" aria-expanded="false" aria-controls="exItem1">
                            <h4><u>{{ entity.name }} {{ entity.lastname}} {{ entity.mothername}}</u> <span class="total-m txt-red"> {{entity.requisitions|length}}</span></h4>
                        </button>
                    </div>
                    <div id="a-{{loop.index}}" class="collapse container-fluid" aria-labelledby="exItem1Header" data-parent="#exampleAccordion">
                        
                        {% for requisition in entity.requisitions %}
                            <div class='row m-t-3 p-4 cont-mb'>
                                <div class="col-3 t-header m-y-1 {{ isHistory ? '' : 'offset-1' }}">
                                    Beneficiario
                                </div>
                                <div class="col-3 t-header m-y-1">
                                    Programa
                                </div>
                                <div class="col-6 t-header m-y-1">
                                    Medicamento
                                </div>
                                <div class="col-3 t-header m-y-1">
                                    Fecha
                                </div>
                                <div class="col-3 t-header m-y-1">
                                    Ciclo
                                </div>
                                {% if isHistory %}
                                    <div class="col-3 t-header m-y-1">
                                        Status
                                    </div>
                                {% endif %}
                                <div class="col-3 t-header m-y-1">
                                    Acciones
                                </div>

                                <div class="col-3 t-content d-flex align-items-center {{ isHistory ? '' : 'offset-1' }}">
                                    {{ requisition.beneficiary }}
                                </div>
                                <div class="col-3 t-content d-flex align-items-center">
                                    {{ requisition.program }}
                                </div>
                                <div class="col-6 t-content d-flex align-items-center">
                                    {% if requisition.getItemsDescription|length > 0 %}
                                        {{ requisition.getItemsDescription[0]}}
                                    {% endif %}
                                </div>
                                <div class="col-3 t-content d-flex align-items-center">
                                    {{ requisition.created|date('d/m/Y') }}
                                </div>
                                <div class="col-3 t-content d-flex align-items-center">
                                    {{ requisition.cycle }}
                                </div>
                                {% if isHistory %}
                                    <div class="col-3 t-content d-flex align-items-center"> {{ nav[requisition.status] }}</div>
                                {% endif %}
                                <div class="col-3 t-content d-flex align-items-center">
                                    {% include 'requisition/_actions.html.twig' %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
