


<div class="row m-t-2 ">
    <div class="col-md-20 mx-auto cont-filters bg-white">
        <div class="row py-3 m-t-1 br-b">
            <div class="col-12 t-medic">
                Medicamento
            </div>
            <div class="col-md-8 col-12 t-medic d-none d-sm-none d-md-block">
                Médico
            </div>
            <div class="col-md-2 t-medic text-center col-12">
                Solicitados
            </div>

        </div>
    </div>
</div>


<div class="accordion row " id="exampleAccordion">

    {% for entity in entities %}
        
        {#{{dump(data)}}#}
        <div class="   card-header col-md-20 mx-auto bg-white" id="exItem1Header">
            <div class='row m-t-2'>
                <a href='#' class="btn btn-link collapsed  position-relative text-left  w-100 d-flex" type="button" data-toggle="collapse" data-target="#a-{{loop.index}}" aria-expanded="false" aria-controls="exItem1">
                    <div class='col-md-12'>
                        <h4><u>{{ entity.name }}</u></h4> 
                    </div>
                    <div class='col-md-2 offset-md-8 text-center'>
                        <span class='txt-red total-g'> <b>{{ entity.total }}</b></span>
                    </div>
                </a>
            </div>
        </div>
        <div id="a-{{loop.index}}" class="collapse col-md-20 mx-auto bg-white" aria-labelledby="exItem1Header" data-parent="#exampleAccordion">

            {% for data in entity.data %}

                <div class='row m-y-3 br-b py-3'>
                    <div class="col-md-12 t-medic">
                    </div>
                    <div class="col-md-8 col-12  t-medic txt-black">

                        {{ data.name }}  {{ data.lastName }} {{ data.motherName }}
                    </div>
                    <div class="col-md-2  col-8 offset-2 offset-md-0 t-medic  text-center txt-black">
                        {{ data.total }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>

