{# empty Twig template #}
{% if app.user %}
    <div class="container-fluid page-titles m-t-5 m-b-1">
        <div class="row ">
            <div class="col-xl-20 col-md-22 mx-auto">
                <div class="row">
                    <div class="col-4 silanes-menuitem ">
                        <div class="row">
                            <div class="col-22 mx-auto card   {{ app.request.attributes.get('_route') == 'requisition_new' ? 'active' }}">
                                <a class="" href="{{ path('requisition_new') }}"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.326" height="18.326" viewBox="0 0 18.326 18.326">
                                        <path id="Trazado_44" data-name="Trazado 44" d="M1760.4,108.236h-7.054v-7.054a1.055,1.055,0,1,0-2.109,0v7.054h-7.054a1.055,1.055,0,0,0,0,2.11h7.054V117.4a1.055,1.055,0,1,0,2.109,0v-7.054h7.054a1.055,1.055,0,0,0,0-2.11Z" transform="translate(-1743.125 -100.128)" fill="#4e4e4e"/>
                                    </svg>

                                    <span class="title d-none d-sm-none d-md-block">Nueva <br>solicitud</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 silanes-menuitem">
                        <div class="row">
                            <div class="col-22 mx-auto card  {{ app.request.attributes.get('_route') == 'requisition_renew' ? 'active' }}">
                                <a class="" href="{{ path('requisition_renew') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25.963" height="21.272" viewBox="0 0 25.963 21.272">
                                        <g id="Grupo_21" data-name="Grupo 21" transform="translate(0)">
                                            <path id="Trazado_28" data-name="Trazado 28" d="M1897.354,95.5a.829.829,0,0,0-1.172-1.172l-.722.723a8.979,8.979,0,0,1,16.879-1.944.829.829,0,0,0,1.5-.714,10.638,10.638,0,0,0-20.121,2.986l-1.05-1.05a.829.829,0,1,0-1.172,1.172l2.932,2.931Z" transform="translate(-1891.248 -86.333)" fill="#4e4e4e"/>
                                            <path id="Trazado_29" data-name="Trazado 29" d="M1921.328,111.548l-2.931-2.931-2.931,2.931a.829.829,0,0,0,1.172,1.172l.7-.7a8.979,8.979,0,0,1-17.053,1.429.829.829,0,1,0-1.532.633,10.638,10.638,0,0,0,20.342-2.416l1.058,1.058a.829.829,0,1,0,1.172-1.172Z" transform="translate(-1895.608 -99.383)" fill="#4e4e4e"/>
                                        </g>
                                    </svg>

                                    <span class="title d-none d-sm-none d-md-block"> Renovar/<br>Continuar</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 silanes-menuitem">
                        <div class="row">
                            <div class="col-22 mx-auto card  {{ app.request.attributes.get('_route') == 'requisition_index' ? 'active' }}">
                                <a class="" href="{{ path('requisition_index') }}" >
                                    <svg id="Grupo_22" data-name="Grupo 22" xmlns="http://www.w3.org/2000/svg" width="23.595" height="21.426" viewBox="0 0 23.595 21.426">
                                        <path id="Trazado_37" data-name="Trazado 37" d="M1855.546,280.054V276.2a7.508,7.508,0,0,0-5.363-7.2,3.008,3.008,0,0,0,0-.311,2.145,2.145,0,0,0-4.29,0,3.008,3.008,0,0,0,0,.311,7.508,7.508,0,0,0-5.363,7.2v3.85l-1.834,1.823a1.076,1.076,0,0,0-.311.762v2.145a1.073,1.073,0,0,0,1.073,1.073h5.555a3.218,3.218,0,0,0,6.049,0h5.556a1.072,1.072,0,0,0,1.072-1.073V282.64a1.072,1.072,0,0,0-.311-.762Zm0,3.657H1840.53v-.633l1.834-1.823a1.073,1.073,0,0,0,.311-.762V276.2a5.362,5.362,0,1,1,10.725,0v4.29a1.074,1.074,0,0,0,.311.762l1.834,1.823Z" transform="translate(-1836.24 -266.552)" fill="#4e4e4e"/>
                                        <path id="Trazado_38" data-name="Trazado 38" d="M1839.771,270.216a1.077,1.077,0,0,0-1.523-1.523,11.7,11.7,0,0,0-3.528,8.269,1.072,1.072,0,0,0,2.145,0A9.516,9.516,0,0,1,1839.771,270.216Z" transform="translate(-1834.719 -267.31)" fill="#4e4e4e"/>
                                        <path id="Trazado_39" data-name="Trazado 39" d="M1867.716,268.693a1.077,1.077,0,1,0-1.523,1.523,9.514,9.514,0,0,1,2.906,6.746,1.073,1.073,0,0,0,2.145,0A11.7,11.7,0,0,0,1867.716,268.693Z" transform="translate(-1847.65 -267.31)" fill="#4e4e4e"/>
                                    </svg>

                                    <span class="title d-none d-sm-none d-md-block">Solicitudes<br> Activas</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 silanes-menuitem">
                        <div class="row">
                            <div class="col-22 mx-auto card  {{ app.request.attributes.get('_route') == 'requisition_medicine' ? 'active' }}">
                                <a class="" href="{{ path('requisition_medicine') }}">
                                    <svg id="Grupo_23" data-name="Grupo 23" xmlns="http://www.w3.org/2000/svg" width="37.577" height="24.623" viewBox="0 0 37.577 24.623">
                                        <g id="Grupo_15" data-name="Grupo 15" transform="translate(0 0)">
                                            <path id="Trazado_40" data-name="Trazado 40" d="M1932.422,270.369l-11.511-3.758a.871.871,0,0,0-.633,0l-11.51,3.758a.987.987,0,0,0-.673.949v15.11a1.026,1.026,0,0,0,.673.949l11.51,3.757a1.284,1.284,0,0,0,.633,0l11.511-3.8a.988.988,0,0,0,.672-.949v-15.07A1.025,1.025,0,0,0,1932.422,270.369Zm-12.816,18.472-9.533-3.125V272.663l3.8,1.227v7.4a.989.989,0,1,0,1.977,0v-6.724l3.8,1.226v13.053Zm.989-14.794-2.69-.87,1.9-.672a.982.982,0,0,0,.593-1.265,1.017,1.017,0,0,0-1.266-.594l-4.232,1.543-2.65-.87,8.346-2.729,8.346,2.729Zm10.521,11.669-3.8,1.226V282.67a.98.98,0,0,0-.989-.989.947.947,0,0,0-.949.989v4.945l-3.8,1.226V275.787l9.532-3.125Z" transform="translate(-1895.517 -266.552)" fill="#fff"/>
                                            <path id="Trazado_41" data-name="Trazado 41" d="M1896.7,275.542h-7a.989.989,0,1,0,0,1.978h7a.979.979,0,0,0,.989-.989A1.033,1.033,0,0,0,1896.7,275.542Z" transform="translate(-1888.712 -269.708)" fill="#fff"/>
                                            <path id="Trazado_42" data-name="Trazado 42" d="M1896.7,284.015h-7a.989.989,0,1,0,0,1.978h7a.98.98,0,0,0,.989-.989A1,1,0,0,0,1896.7,284.015Z" transform="translate(-1888.712 -272.682)" fill="#fff"/>
                                            <path id="Trazado_43" data-name="Trazado 43" d="M1896.7,292.487h-7a.989.989,0,1,0,0,1.978h7a.979.979,0,0,0,.989-.989A1,1,0,0,0,1896.7,292.487Z" transform="translate(-1888.712 -275.657)" fill="#fff"/>
                                        </g>
                                    </svg>

                                    <span class="title d-none d-sm-none d-md-block">Medicamentos <br> por recibir</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 silanes-menuitem">
                        <div class="row">
                            <div class="col-22 mx-auto card  {{ app.request.attributes.get('_route') == 'requisition_history' ? 'active' }}">
                                <a class="" href="{{ path('requisition_history') }}">
                                    <svg id="Grupo_24" data-name="Grupo 24" xmlns="http://www.w3.org/2000/svg" width="27.06" height="27.059" viewBox="0 0 27.06 27.059">
                                        <path class=""  id="Trazado_31" data-name="Trazado 31" d="M1900.6,142.7a13.53,13.53,0,1,0,13.53,13.53A13.545,13.545,0,0,0,1900.6,142.7Zm0,24.8a11.267,11.267,0,1,1,11.267-11.267A11.28,11.28,0,0,1,1900.6,167.494Z" transform="translate(-1887.071 -142.697)" fill="#4e4e4e"/>
                                        <path class="" id="Trazado_32" data-name="Trazado 32" d="M1918.111,164.337l-5.36-4.174v-6.794a1.131,1.131,0,1,0-2.263,0v7.346c0,.022.005.042.006.064,0,.041.006.08.012.121s.014.069.023.1a1.089,1.089,0,0,0,.033.106c.013.034.028.067.044.1a.976.976,0,0,0,.053.1,1,1,0,0,0,.062.089,1.046,1.046,0,0,0,.069.084.953.953,0,0,0,.086.082c.016.015.03.032.048.046l5.8,4.514a1.131,1.131,0,0,0,1.39-1.785Z" transform="translate(-1898.089 -147.186)" fill="#4e4e4e"/>
                                    </svg>

                                    <span class=" title d-none d-sm-none d-md-block ">Histórico</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 silanes-menuitem">
                        <div class="row">
                            <div class="col-22 mx-auto card  {{ app.request.attributes.get('_route') == 'post_index' or app.request.attributes.get('_route') == 'post_view' ? 'active' }}">
                                <a class="" href="{{ path('post_index') }}" >
                                    <svg id="Grupo_25" data-name="Grupo 25" xmlns="http://www.w3.org/2000/svg" width="21.617" height="23.351" viewBox="0 0 21.617 23.351">
                                        <path id="Trazado_33" data-name="Trazado 33" d="M1886.06,199.113v23.351h21.617V199.113Zm19.727,21.46h-17.836V201h17.836Z" transform="translate(-1886.06 -199.113)" fill="#4e4e4e"/>
                                        <path id="Trazado_34" data-name="Trazado 34" d="M1894.912,219.129h8.241a.946.946,0,0,0,0-1.891h-8.241a.946.946,0,0,0,0,1.891Z" transform="translate(-1890.468 -209.218)" fill="#4e4e4e"/>
                                        <path id="Trazado_35" data-name="Trazado 35" d="M1894.86,229.129h12.776a.946.946,0,1,0,0-1.891H1894.86a.946.946,0,1,0,0,1.891Z" transform="translate(-1890.439 -214.794)" fill="#4e4e4e"/>
                                        <path id="Trazado_36" data-name="Trazado 36" d="M1894.86,239.387h12.776a.945.945,0,1,0,0-1.891H1894.86a.945.945,0,1,0,0,1.891Z" transform="translate(-1890.439 -220.513)" fill="#4e4e4e"/>
                                    </svg>
                                    <span class="title d-none d-sm-none d-md-block">Noticias</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}