{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

<div class="container-fluid  details-wrap d-flex">
    <div class="row position-relative">
        <div class="col-24 bg-red p-0">
            <h1>
                SOLICITUD
            </h1>
        </div>
        <div class="col-22 mx-auto m-t-3">
            <h4> <span>MÉDICO: </span>{{ requisition.doctor.name }} {{ requisition.doctor.lastname }}</h4>
        </div>

        <div class="col-8 offset-1 ">
            <h4> <span>BENEFICIARIO: </span> {{ requisition.beneficiary }}</h4>
        </div>
        <div class="col-14">
            <h4> <span>PROGRAMA: </span> {{ requisition.program }}</h4>
        </div>
        <div class="col-22 mx-auto">
            <h4> <span>MEDICAMENTOS: </span> {% if requisition.getItemsDescription|length > 0 %}  
                {% for medicamento in requisition.getItemsDescription %}
                    {{  medicamento }}<br>
                {% endfor %}
                {% endif %}
                </h4>

            </div>
            <a href="javascript:parent.jQuery.fancybox.close();" class="f-close position-absolute">X</a>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}



