{% extends 'base.html.twig' %}
{% import _self as formMacros %}
{% block body %}
    <div class="container-fluid m-t-2 new-acct">
        <div class="row">
            <div class="col-xl-20 col-md-22 mx-auto">
                {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                <div class="card">
                    <div class="card-body  p-y-2">
                        <div class="row ">
                            <div class="col-lg-8 col-md-8">
                                <div class="form-group">
                                    <label class="txt-red">Médico</label>
                                    <p class="m-t-2">{{ requisition.doctor }}</p>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="form-group ">
                                    <label class="txt-red">Beneficiario</label>
                                    <p class="m-t-2">{{ requisition.beneficiary }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group ">

                                    <label class="txt-red">Programas</label>
                                    <div class="choice-buttons m-t-1">
                                        <label href="#" class="m-t-2 active">{{ requisition.program }}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="col-24">
                                <div class="row align-items-center position-relative  br-b-1 py-3">
                                    <div class="col-md-23 mx-auto  ">
                                        {{ form_label(form.items, 'Medicamentos') }}
                                    </div>

                                </div>
                                <div class='row'>
                                    <div class='col-md-23 mx-auto'>
                                        <div class="js-collection-holder  " data-prototype="{{ formMacros.printRequisitionItem(form.items.vars.prototype)|e('html_attr') }}">
                                            {% for item in form.items %}
                                                {{ formMacros.printRequisitionItem(item) }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>


                            </div>


                            {% macro printRequisitionItem(requisitionForm) %}
                                <div class="col-24">
                                    <div class="row">
                                        {{ form_errors(requisitionForm) }}
                                        <div class="col-md-10 nopadding">
                                            <div class="form-group">
                                                {#{{ form_label(requisitionForm.medicine, 'Seleccionar medicamento') }}#}
                                                {{ form_widget(requisitionForm.medicine,{'attr': { 'class': 'select-changer form-control custom-select m-t-2'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-22 col-md-6 col-lg-6 nopadding">
                                            <div class="form-group">
                                                {#                                                Seleccionar medicamento#}
                                                {{ form_widget(requisitionForm.quantity,{'attr': { 'class': 'form-control custom-select m-t-2 inpt-qty'}}) }}
                                            </div>
                                        </div>
                                        <div class="remove-tag form-group col-md-2">
                                            <a href="#" class="btn">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endmacro %}

                        </div>
                    </div>
                    <div class="form-actions text-center">
                        <div class="card-body">

                            <button type="button" class="btn btn-success btn-out" data-toggle="modal" data-target="#exampleModal">
                              Solicitar
                            </button>

                            <br>
                            <a href="{{ path('homepage') }}" class="m-t-2 "><label class="label-out">Salir sin
                                    cambios</label></a>
                        </div>
                    </div>
                </div>
                <div class="hide">
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg>
                        </button>
                      </div>
                      <div class="modal-body message text-center">
                        <h3>¿Estas seguro que deseas renovar esta solicitud?</h3>
                        <button type="submit" class="btn btn-danger btn-block py-4 m-t-4">SOLICITAR</button>
                      </div>
                    </div>
                  </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>


    {% endblock %}
