{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid m-t-2">
        <div class="row">
            <div class="col-24">
            </div>
            <div class="col-24 card-filters">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="m-t-3 alert-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
                <div class="filter-body">
                    {% include 'requisition/_content_list.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg>
            </button>
          </div>
          <div class="modal-body message text-center">
            <h3>¿Estas seguro que deseas suspender?</h3>
            <a class="modal-action btn btn-danger btn-block py-4 m-t-4" href="#">SUSPENDER</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
