{% extends 'base.html.twig' %}
{% block body %}
    {% set cycle_data = shortcutsData['cycle_data'] %}
    <div class="container-fluid m-t-2">
        <div class="row">
            <div class="col-24">
                {#<h1 class="title-mobile">{{title}}</h1>#}
            </div>
            <div class="col-md-10  d-flex align-items-end offset-md-2">
                <h1 class="txt-red "><b>Ciclo  {{ form.ciclo.vars.data.name is defined ? form.ciclo.vars.data.name:cycle_data.cycle.name }}</b></h1>
            </div>
            <div class="col-md-10  d-none ">
                {{ form_start(form,{'attr': {'class': ''} }) }}
                <div class="row cont-filters p-3 m-t-3 filter-medicine">
                    <div class='  m-md-t-0 m-t-2 col-md-10 offset-md-5 p-0 '>
                        {{ form_errors(form.ciclo) }}
                        {{ form_widget(form.ciclo,{'attr': { 'class': 'form-control custom-select cicl  select-medicine','placeholder' : 'Choose an option'}}) }}
                    </div>
                    <div class='  m-md-t-0 m-t-2 col-md-8 '>
                        <button type="submit" class="btn-danger btn-block ">
                            FILTRAR POR CICLO
                        </button>
                    </div>
                    {{ form_rest(form) }}
                </div>


            </div>
            {{ form_end(form) }}
            <div class="col-24 card-filters ">
                <div class="">
                    {% include 'requisition/_list_medicines.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
