{% extends 'base.html.twig' %}
{% import _self as formMacros %}
{% block body %}
    <div class="container-fluid m-t-2 new-acct">
        <div class="row">
            <div class="col-24">
                <h1 class="title-mobile">{{ title }}</h1>
            </div>
            <div class="col-xl-20 col-md-22 mx-auto">
                {{ form_start(form,{'attr':{'class':'form-horizontal','id':'requisition'}}) }}
                <div class="card">
                    <div class="card-body  p-y-2">
                        <div class="row align-items-end">
                            <div class="col-lg-8 col-md-8 m-md-t-0 m-t-3">
                                <div class="form-group">
                                    {{ form_errors(form.doctor) }}
                                    <label>Médico <span class='txt-red'>*</span></label>
                                    {{ form_widget(form.doctor,{'attr': { 'class': 'form-control custom-select m-t-2'}}) }}
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-8 m-md-t-0 m-t-3">
                                <div class="form-group ">

                                    <label>Beneficiario <span class='txt-red'>*</span></label>
                                    <div class="w-100 d-flex m-t-2">
                                        {{ form_widget(form.first,{'attr': { 'class': 'form-control initials', 'maxlength':'1', 'autocomplete':'off'}}) }}
                                        {{ form_widget(form.second,{'attr': { 'class': 'form-control initials m-l-1', 'maxlength':'1', 'autocomplete':'off'}}) }}
                                        {{ form_widget(form.third,{'attr': { 'class': 'form-control initials m-l-1', 'maxlength':'1', 'autocomplete':'off'}}) }}
                                        {{ form_widget(form.quarter,{'attr': { 'class': 'form-control initials m-l-1', 'maxlength':'1', 'autocomplete':'off'}}) }}
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 m-md-t-0 m-t-3">
                                <div class='row '>
                                    {{ form_errors(form.program) }}
                                    <div class='col-md-24'>
                                        <label>Programa <span class='txt-red'>*</span></label>
                                    </div>

                                    {% for child in form.program|filter(child => not child.rendered) %}
                                        <div class="form-group col-md-12">
                                            <div class="choice-buttons">
                                                {{ form_label(child) }}
                                                {{ form_widget(child) }}
                                            </div>
                                        </div>
                                        {{ form_help(child) }}
                                        {{ form_errors(child) }}
                                    {% endfor %}
                                </div>
                            </div>

                            {{ form_errors(form.isCoupon) }}
                            {{ form_widget(form.isCoupon,{'attr': { 'class': 'form-control d-none m-t-2'}}) }}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div id="main-requisition" class="col-24">
                                <div class="row align-items-center position-relative  br-b-1 py-3">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-23 mx-auto  ">
                                                {{ form_label(form.items, 'Medicamentos solicitados') }}
                                            </div>
                                            <div class="col-12">
                                                <a href="#" class="sitelink is-coupon normal btn btn-block btn-coupon active d-none" >
                                                    Solocitar medicamentos fisicos
                                                </a> 
                                            </div>
                                            <div class="col-12">
                                                <a href="#" class="sitelink is-coupon cupon btn btn-block btn-coupon d-none" >Solicitar cupones medicamentos</a>
                                            </div>
                                            {#{{ form_errors(form.btnCoupon) }}
                                            {% for child in form.btnCoupon|filter(child => not child.rendered) %}
                                                <div class="form-group col-md-12">
                                                    <div class="choice-coupon is-coupon">
                                                        {{ form_label(child) }}
                                                        {{ form_widget(child) }}
                                                    </div>
                                                </div>
                                                {{ form_help(child) }}
                                                {{ form_errors(child) }}
                                            {% endfor %}#}
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>

                                    <div class='col-md-23 mx-auto'>
                                        {% for type, messages in app.flashes %}
                                            {% for message in messages %}
                                                <div class="m-t-3 alert-{{ type }}">{{ message }}</div>
                                            {% endfor %}
                                        {% endfor %}
                                        <div id="js-collection" class="js-collection-holder" data-prototype="{{ formMacros.printRequisitionItem(form.items.vars.prototype)|e('html_attr') }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% macro printRequisitionItem(requisitionForm) %}
                                <div class="col-24">
                                    <div class="row">
                                        {{ form_errors(requisitionForm) }}
                                        <div class="col-md-10  nopadding">
                                            <div class="form-group">
                                                {{ form_widget(requisitionForm.medicine,{'attr': { 'class': 'select-changer form-control custom-select m-t-2'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-20 col-md-6 col-lg-6 nopadding">
                                            <div class="form-group">
                                                {{ form_widget(requisitionForm.quantity,{'attr': { 'class': 'form-control custom-select m-t-2 inpt-qty'}}) }}
                                            </div>
                                        </div>
                                        <div class="remove-tag form-group col-2">
                                            <a href="#" class="btn">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endmacro %}
                        </div>
                    </div>
                    <div class="form-actions text-center">
                        <div class="card-body">
                            <button class="btn btn-success btn-out loader" type="submit">Solicitar</button>
                            <br>
                            <a href="{{ path('homepage') }}" class="m-t-2 "><label class="label-out">Salir sin
                                    cambios</label></a>
                        </div>
                    </div>
                </div>
                <div class="hide">
                    {{ form_widget(form.items) }}
                </div>
                {{ form_end(form) }}
            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <div id="loader">
                <div  class="overlay">
                    <div class="cv-spinner">
                        <span class="spinner"></span>
                    </div>
                </div>
            </div>
        </div>




        <script type="text/javascript">
            {% if app.user.linea == "OMEGA" %}
                alert('no puede hacer nada');
            {% endif %}
        </script>
    {% endblock %}