<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Silanes Programas{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}




        {% block analytics %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-GF08M0DB6Z"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'G-GF08M0DB6Z');
            </script>

        {% endblock %}

    </head>
    <body>
        <div class="grid-container">
            <div class="header-area">
                {% block header %}
                    {% include 'layout/_header.html.twig' %}
                {% endblock %}
                {% block menu %}
                    {% include 'requisition/_menu.html.twig' %}
                {% endblock %}

            </div>
            <div class="body-area">
            {% block body %}{% endblock %}
        </div>
        <div class="footer-area">

            {% block footer %}
                {% include 'layout/_footer.html.twig' %}
            {% endblock %}

        </div>
    </div>


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
