{% extends 'base.html.twig' %}
{% block body %}
    <div class="cont-home overflow-hidden">
        <div class="container-fluid">
            <div class="row m-t-2 cont-news">
                <div class="col-24">
                    <h1 class="title-mobile">{{title}}</h1>
                </div>
                <div class="col-xl-20 col-md-22 mx-auto m-md-t-5 silder-news">
                    <div class="slider-container row align-items-center">
                        <div class="container-fluid">
                            <div class=" js-slick" data-slick='{"autoplay":true,"autoplaySpeed":3500000,"fade":false,"arrows":false, "dots":true}'>
                                {% for data in slider %}
                                    <div class="slide d-md-flex d-grid ">
                                        <div class=" col-md-10 pl-0 pr-3 cont-news order-1 order-md-0 m-t-1 m-md-t-0">
                                            <div class="bg-red h-100 container-data  d-flex align-items-center justify-content-center">
                                                <div class="cont-txt p-4">
                                                    <h2>{{data.title}}</h2>
                                                    <p>
                                                        {{data.resume}}
                                                    </p>
                                                    <a href="{{ path('post_view',{id: data.id}) }}" class="">
                                                        Leer más <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-img col-md-14 order-0 order-md-1">
                                            <img src="{{ vich_uploader_asset(data, 'bannerFile') }}" class='img-fluid '/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-20 col-md-22 mx-auto">
                    <div class="row list-new">
                        {% for data in pagination %}
                            <div class="card-new">
                                <a href="{{ path('post_view',{id: data.id}) }}" class="">
                                    <div class="cont-img">
                                        {#<img src="{{ asset('build/images/home/new.png') }}" class="img-fluid" alt="homepage">#}
                                        <img src="{{ vich_uploader_asset(data, 'imageFile') }}" class='img-fluid '/>
                                    </div>
                                    <div class="cont-txt ml-3">
                                        <p class="">
                                            {{data.title}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
