{% extends 'base.html.twig' %}
{% block body %}
    <div class="post-view m-t-5">
        <div class="container-fluid">
            <div class="row m-t-5 cont-news">
                <div class="col-xl-20 col-md-22 mx-auto">
                    <a href="{{ path('post_index') }}" class="btn btn-danger m-t-5">
                        Regresar
                    </a>
                    <br>
                    <h2 class="title m-y-5">
                    </h2>
                    <img src="{{ vich_uploader_asset(post) }}" class='w-100 h-auto '/>
                    <div class="row">
                        <div class="m-t-5 col-18 mx-auto cont-ckeditor">
                            {{post.content|raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
