<div style="position: relative; text-align: center; margin-left: 15%;; margin-top: 15%;" >
    <div style="position: relative; max-width: 620px;">
        <img src="{{ absolute_url(vich_uploader_asset(code.campaign.brand, 'frontImageFile')) }}" style="max-width: 620px;"/>
        {#    <p style="position: absolute;bottom: 40px;left: 30px;font-size: 10px;color: #0058a0;margin: 0;font-family: Arial, sans-serif;">#}
        {#        Vigencia: {{ code.campaign.expiration }}#}
        {#    </p>#}
    </div>
    <div style="position: relative; max-width: 620px;">
        <img src="{{ absolute_url(vich_uploader_asset(code.campaign.brand, 'backImageFile')) }}" style="max-width: 620px;"/>
        <p style="position: absolute;top: 175px;left: 100px;font-size: 10px;color: #000;margin: 0;font-family: Arial, sans-serif;">
            {{ code.product }}
        </p>
        <img src="data:image/png;base64,{{ code.barcode }}" width="400"  style="position:absolute; bottom: 60px;  left: 110px;"/>
    </div>
</div>
