{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block menu %} {% endblock %}
{% block title %}aviso{% endblock %}

{% block body %}
    <div class="container ter-wrap ">
        <div class="row">
            <div class="col-md-22 mx-auto">
                <h1 class="m-t-5 m-b-3"> <b>  Aviso de Privacidad para la Protección de Datos Personales.</b></h1>

                <p>De conformidad con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, LABORATORIOS SILANES, S.A. DE C.V. ( a continuación <b>“SILANES”</b>) Pone a su disposición el siguiente Aviso de Privacidad:</p>
                <p>Para los efectos de este aviso de privacidad, se entiende por <b>“SILANES”</b> a todas las empresas que conforman <b>“SILANES”</b>, así como a cualquiera de sus sociedades filiales, controladoras y/o subsidiarias. Si usted comparte información con nosotros se entenderá que usted ha revisado, leído y aceptado los términos de este aviso de privacidad.</p>
                <p><b>“SILANES”</b> es responsable del uso y protección de sus datos personales, atendiendo en todo momento las obligaciones establecidas en Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
                <p><b>“SILANES”</b> tiene su domicilio ubicado en: Avenida Paseo de las Palmas No. 340, 3er piso, Col. Lomas de Chapultepec, Alcaldía. Miguel Hidalgo, C.P. 11000, Ciudad de México, México.</p>

                <p>Los Datos Personales que recabemos de usted serán utilizados para las siguientes finalidades:</p>

                <p>
                    • Mandar información<br>
                    • Mandar notificaciones<br>
                    • Contacto de seguimiento del programa<br>
                    • Contacto de noticias del programa y la plataforma web<br>
                    • Contacto de información general<br>
                </p>
                <p>Para poder llevar a cabo las finalidades descritas con anterioridad, utilizaremos los siguientes datos personales:</p>
                <p>
                    • Nombre<br>
                    • Edad<br>
                    • Género<br>
                    • Dirección<br>
                    • Estado<br>
                    • Código Postal<br>
                    • Teléfono<br>
                    • Teléfono celular<br>
                    • Correo electrónico<br>
                </p>
                <p>Usted podrá solicitar acceder a sus datos, rectificarlos, cancelarlos, oponerse, limitar su uso o divulgación o revocar su consentimiento, en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás disposiciones aplicables, contactando al Funcionario de Protección de Información, al correo electrónico y/o teléfono que aparecen en nuestros datos de contacto:</p>
                <p>Correo electrónico: privdatos@silanes.com.mx</p>
                <p>Cualquier solicitud deberá indicar con su nombre y domicilio para darle respuesta, una copia de su identificación oficial (pasaporte, credencial de elector o licencia de conducir), la descripción clara y precisa de los datos personales a los que desea acceder o que desea rectificar, cancelar u oponerse y cualquier otro elemento que facilite la localización de sus datos, así como cualquier otro requisito establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás disposiciones aplicables.</p>
                <p><b>“SILANES”</b> podrá compartir sus datos personales en los casos previstos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares o cualquier otra legislación o reglamento aplicable a terceros, así como a entidades del mismo grupo de interés, nacionales o extranjeros, con el objetivo de cumplir con las finalidades para las cuales usted proporcionó sus datos.</p>
                <p>Este Aviso de Privacidad se rige por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y las demás leyes y reglamentos de los Estados Unidos Mexicanos. La aceptación de este Aviso de Privacidad implica una aceptación de los términos del mismo y su sometimiento expreso a los tribunales de la Ciudad de México, México, para cualquier controversia o reclamación derivada de este Aviso de Privacidad</p>
                <p>Nos comprometemos a mantenerlo informado en todo momento frente a cambios que pueda sufrir nuestro aviso de privacidad.</p>
                <p>Por último, pero no menos importante, su privacidad es de real importancia para nosotros. Estamos comprometidos con la protección de su privacidad en todo momento.</p>
            </div>
        </div>
    </div>
{% endblock %}
