{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block menu %} {% endblock %}
{% block title %}Terminos{% endblock %}

{% block body %}
    <div class="container ter-wrap ">
        <div class="row">
            <div class="col-md-22 mx-auto">
                <h1 class="m-t-5 m-b-3"> <b>Términos y Condiciones</b></h1>
                <p>El presente documento tiene como objetivo principal describir los términos y condiciones generales (en adelante, “Términos y Condiciones”) aplicables al uso de los contenidos y servicios ofrecidos a través del sitio web silanes-programas.com, (en adelante, “SITIO WEB”) del cual <b>LABORATORIOS SILANES, S.A. DE C.V.</b>, (en adelante, “SILANES”), es titular para todos los efectos que haya lugar “SILANES” señala como su domicilio el ubicado en Avenida Paseo de las Palmas No. 340, 3er piso, Col. Lomas de Chapultepec V sección, Alcaldía Miguel Hidalgo, C.P. 11000, CDMX, México.</p>
                <p>El acceso y uso del “SITIO WEB”, implica la aceptación de los “Términos y Condiciones” por parte de cualquier persona (en adelante, “EL USUARIO”) que desee acceder así como hacer uso del sitio y/o de los servicios que en él se ofrecen, dicho uso deberá hacerse sujetándose en todo momento a los “Términos y Condiciones” que a continuación se detallan, en caso de no aceptarlos, “EL USUARIO” deberá de abstenerse del uso y/o acceso al “SITIO WEB”.</p>
                <p>Nada de lo contenido en este “SITIO WEB” debe entenderse como consejo, recomendación de cualquier índole, solución o respuesta final o específica de algún problema de salud ni está dirigido a diagnosticar, recomendar un tratamiento o prescribir los productos que en el mismo se exhiben. Antes de iniciar, terminar, modificar o suspender cualquier tratamiento, “EL USUARIO” deberá de consultar a su médico especialista.</p>
                <p>“SILANES” se reserva en todo momento el derecho de modificar sin previo aviso los “Términos y Condiciones”, así como el contenido del “SITIO WEB”. Las modificaciones serán efectivas a partir del momento en el que queden disponibles al público en el “SITIO WEB”.</p>
                <p>El uso y/o acceso al “SITIO WEB” por parte de “EL USUARIO” constituirá la aceptación y acuerdo en los cambios y/o actualizaciones de los “Términos y Condiciones”.</p>
                <p>El acceso a cierta parte de los contenidos y servicios del “SITIO WEB” podrá requerir previo suscripción y/o registro de “EL USUARIO”. Los Datos Personales utilizados para la suscripción y/o registro de “EL USUARIO” estarán sujetos en todo momento al “Aviso de Privacidad” y serán tratados conforme a dicho aviso, el cual se podrá consultar en silanes-programas.com.</p>
                <p>El “SITIO WEB” podrá ser utilizado única y exclusivamente para personas que cumplen con el requisito de mayoría de edad (mayores de 18 años).</p>
                <p>El “SITIO WEB” está diseñado principalmente para usuarios residentes en los Estados Unidos Mexicanos, por lo cual “SILANES”, no asegura que cumpla total o parcialmente con la legislación de otros países, en los casos en los que “EL USUARIO” reside o tenga su domicilio establecido en otro país, si “EL USUARIO” decide acceder y/o utilizar el “SITIO WEB” lo hará en todo momento bajo su propia responsabilidad, reconociendo que el “SITIO WEB” puede omitir directrices y/o normativas del territorio en donde se encuentra, por lo que deslinda a “SILANES” de cualquier responsabilidad originada por esta situación.</p>
                <p>“SILANES” podrá administrar el “SITIO WEB” de manera directa o a través de un tercero, lo cual no modifica en ningún momento lo establecido en los “Términos y Condiciones”.</p>
                <p>“SILANES” procurará que la información contenida en el “SITIO WEB” sea correcta y se encuentre actualizada, sin embargo es posible que existan errores en el contenido de la información por lo cual “SILANES” no se hace responsable en ningún momento por los errores y/u omisiones que pudiese llegar a contener el “SITIO WEB”, “SILANES” no se compromete a actualizar de manera inmediata los errores que se encuentren en el “SITIO WEB”.</p>
                <p>“SILANES” podrá en cualquier momento, sin previo aviso y sin responsabilidad alguna, de manera temporal o definitiva suspender, negar o dar por terminado el uso y/o acceso de “EL USUARIO” al “SITIO WEB” así como a cualquier servicio, producto o programa contenido en el mismo.</p>
                <p>“SILANES” en ningún momento y bajo ninguna circunstancia garantiza la disponibilidad así como la continuidad del funcionamiento del “SITIO WEB”, incluyendo mas no limitándose a los servicios, programas y productos relacionados a este.</p>
                <p>El “SITIO WEB” podrá contener enlaces a otros sitios cuyas prácticas pueden ser diferentes a las del “SITIO WEB”, en caso de visitar otros sitios, es responsabilidad de “EL USUARIO” consultar las condiciones de privacidad así como los “Términos y Condiciones” de los sitios antes mencionados. “SILANES” en ningún caso y bajo ninguna circunstancia será responsable por el tratamiento que otros sitios distintos al “SITIO WEB” den a los Datos Personales de “EL USUARIO”.</p>
                <p>Es posible que algunas secciones del “SITIO WEB” puedan requerir de claves o contraseñas, esto con el propósito de verificar la identidad de “EL USUARIO”, quien declara estar de acuerdo en que cualquier operación correctamente identificada con dichas claves o contraseñas, será consideradas como válidamente realizada por “EL USUARIO”, quien será en todo momento el único responsable de guardar la confidencialidad de las claves y/o contraseñas mencionadas con anterioridad.</p>
                <p>Queda terminantemente prohibido el mal uso y el uso no autorizado de las páginas, incluyendo sin limitar, el acceso no autorizado a los sistemas de “SILANES”.</p>

                <p>“EL USUARIO” acepta sacar en paz y a salvo a “SILANES”, por cualquier responsabilidad, costo y/o gasto que se le impute por el uso por parte de “EL USUARIO” del “SITIO WEB” que resulte prohibido o ilegal, incluyendo de manera enunciativa, mas no limitativa, violaciones a los derechos de autor, de propiedad industrial, y/o de cualquier ley, reglamento o código federal, estatal o municipal aplicable.</p>
                <p>“EL USUARIO” acepta y reconoce de manera enunciativa mas no limitativa que toda la información, el dominio, marcas, diseños, logotipos, archivos, imagen, texto, articulo, graficas, códigos de programación etc., que se encuentren en el “SITIO WEB” son propiedad única y exclusiva de “SILANES” o se encuentran bajo licencia exclusiva para uso y explotación por parte de “SILANES”, por lo que en ningún momento podrán ser utilizados ni reproducidos por cualquier medio por “EL USUARIO” sin autorización previa y por escrito de “SILANES”.</p>
                <p>Para la interpretación y cumplimiento de los presentes “Términos y Condiciones” del uso del “SITIO WEB”, “EL USUARIO” y “SILANES” aceptan someterse a las leyes federales de los Estados Unidos Mexicanos y en caso de controversia aceptan sujetarse a la jurisdicción de los tribunales competentes en la Ciudad de México, renunciando expresamente al fuero que pudiera corresponderles en razón de sus domicilios.           </p>
            </div>
        </div>
    </div>
{% endblock %}
