<footer class="footer text-center  p-y-1">
    <span style="font-size:12px;"><a href="{{ path('aviso') }}" target="_blank" style="color:#212529">Aviso de privacidad</a> | <a href="{{ path('terminos') }}" target="_blank" style="color:#212529">Términos y Condiciones</a></span>
</footer>
