<header class="topbar">
    <div class="container-fuid  py-4">
        <div class="col-md-20 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <span>
                        <img src="{{ asset('build/images/template/logo.png') }}" class="img-logo" alt="homepage">
                    </span>
                </a>
                <h3 class="my-auto txt-white">
                    PORTAL <br>PROGRAMAS
                </h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <div class="sect">
                            </div>
                        </li>
                        {% if app.user %}
                            {% if is_granted('ROLE_MANAGER') %}
                                <li class="nav-item ">
                                    <a class="navbar-brand d-none d-sm-none d-md-block" href="{{ path('manager') }}">
                                        <span>
                                            <img src="{{ asset('build/images/template/icon_gerentes.png') }}" class="" alt="homepage">
                                           
                                        </span>
                                    </a>
                                </li>
                            {%endif%}
                            <li class="nav-item ">
                                <a class="navbar-brand d-none d-sm-none d-md-block" href="{{ path('homepage') }}">
                                    <span>
                                        <img src="{{ asset('build/images/template/icono_home.png') }}" class="" alt="homepage">
                                    </span>
                                </a>
                                <div class="d-flex align-items-center sect user"> 
                                    <span class="name-f">{{ app.user.name|first }} </span> <span class="txt-white " ><b>{{ app.user.name }}</b></span>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <div class=" sect sect-mb-a d-block d-sm-block d-md-none">
                                    <img src="{{ asset('build/images/template/icono_home.png') }}" class="" alt="homepage">
                                    <a href="{{ path('homepage') }}">
                                        <span class>
                                            <u>Inicio</u>
                                        </span>
                                    </a>
                                </div>
                                <div class=" sect sect-mb-a m-md-l-0 m-l-3">
                                    <img src="{{ asset('build/images/template/icono_profile.png') }}" class="" alt="homepage">
                                    <a href="{{ path('profile') }}">
                                        <span class>
                                            <u>MI PERFIL</u>
                                        </span>
                                    </a>
                                </div>
                                <div class=" sect user sect-mb-a">
                                    <img src="{{ asset('build/images/template/icono_logout.png') }}" class="" alt="homepage">
                                    <a href="{{ path('app_logout') }}" >
                                        <span>
                                            <u> CERRAR SESIÓN</u>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
        </div>
    </div>
</nav>
</header>


