{% extends 'base.html.twig' %}

{% block header %}
    <div class="container-fluid fixed-top ">
        <div class="row m-t-2">
            <div class="col-md-3 offset-md-1 col-10" >
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <span>
                        <img src="{{ asset('build/images/template/logo.png') }}" class="img-fluid" alt="homepage">
                    </span>
                </a>
            </div>
            <div class="col-md-6 offset-md-13 d-flex align-items-center col-10 offset-4">
                <h3 class="m-auto txt-white">
                    PORTAL PROGRAMAS
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row h-100 position-relative overflow-hidden">
            <div class="col-24 p-0 h-100">
                <img src="{{ asset('build/images/login/bg.png') }}" class="img-fluid d-none d-sm-none d-md-block">
                <img src="{{ asset('build/images/login/bg-m.jpg') }}" class="img-fluid d-block d-sm-block d-md-none">

                <div class="form-wrap  bg-white ">
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block footer %}
    <footer class=" fixed-bottom">
        <div class="col-md-5 offset-md-1 py-5">

            <span class="txt-white" ><a href="{{ path('aviso') }}" target="_blank" class="txt-white m-r-1" >Aviso de privacidad</a> | <a href="{{ path('terminos') }}" target="_blank" class="txt-white m-l-1">Términos y Condiciones</a></span>
        </div>
    </footer>
{% endblock %}