
<div style="width: 600px;margin: auto; font-family: Helvetica, Arial, sans-serif;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr style="text-align: center;">
            <td style="text-align: center;">
                <img src="{{ absolute_url(asset('build/images/template/pleca.png')) }}" alt="Title" style="max-width: 100%;" />
            </td>
        </tr>

        <tr style="text-align: center;">

            <td style="padding-top: 1rem; padding-bottom: 1rem;font-weight: lighter;padding-bottom: 5rem;">

                <p style="color: #ed1c24;font-size: 1.6rem;margin-top: 2rem;font-weight: 400;"> 
                    ¡Hola, {{user.name}}!
                </p>
                <p style="font-size: 1.3rem;font-weight: 400;max-width: 70%;margin: auto;" >
                    Te damos la bienvenida a la nueva plataforma para los programas de Silanes Experiencia y Reconoce.
                </p>
                <p style="font-size: 1.3rem;font-weight: 400; margin-top: 2rem">
                    Estos son tus datos de acceso:
                </p>
                <p style="color: #ed1c24; font-size: 1.4rem; margin-top: 2rem;">
                    <b>usuario:</b> {{user.email}}<br><br>
                    <b>contraseña:</b> {{pass}}
                </p>
            </td>
        </tr>

        <tr style="text-align: center;">
            <td style="text-align: center;">
                <a href="{{ absolute_url(path('homepage')) }}" style="border:0px solid rgb(0,0,0);margin:0pt;padding:10px 16px;background-color:#ed1c24;font-family:Arial;font-size:14px;font-weight:600;color:rgb(255,255,255);line-height:1.5;letter-spacing:normal;outline-color:invert!important;outline-style:none!important;outline-width:0pt!important;text-decoration:none!important;min-width:100px;text-align:center;border-radius: 1rem; width: 600px;display: inherit;"/>
                IR AL PORTAL PROGRAMAS SILANES
                </a>
            </td>
        </tr>
    </table>
</div>




